<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<package name="com.ymz.faq.vo"/>
		<package name="com.ymz.member.vo"/>
		<package name="com.ymz.restaurant.vo"/>
		<package name="com.ymz.qna.vo"/>
		<package name="com.ymz.review.vo"/>
		<package name="com.ymz.reviewreply.vo"/>
	</typeAliases>
	
		<!--  
		<package name="com.ymz.reportedbbs.vo"/>
		<package name="com.ymz.reportedreply.vo"/>
		<package name="com.ymz.restaurantreply.vo"/>
		
		<typeAlias type="com.ymz.faq.vo.FAQ" alias="FAQ"/>
		<typeAlias type="com.ymz.faq.vo.Member" alias="Member"/>
		<typeAlias type="com.ymz.faq.vo.QNA" alias="QNA"/>
		-->
	
	
	<mappers>
		<mapper resource="com/ymz/common/config/mapper/FAQMapper.xml"/>
		<mapper resource="com/ymz/common/config/mapper/MemberMapper.xml"/>		
		<mapper resource="com/ymz/common/config/mapper/RestaurantMapper.xml"/>
		<mapper resource="com/ymz/common/config/mapper/QNAMapper.xml"/>
		<mapper resource="com/ymz/common/config/mapper/ReviewMapper.xml"/>
		<mapper resource="com/ymz/common/config/mapper/ReviewReplyMapper.xml"/>

		<!--  
		<mapper resource="com/ymz/common/config/mapper/ReportedBBSMapper.xml"/>
		<mapper resource="com/ymz/common/config/mapper/ReportedReplyMapper.xml"/>
		<mapper resource="com/ymz/common/config/mapper/RestaurantReplyMapper.xml"/>
		-->
	</mappers>
</configuration>
