<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="qna.dao.QNAMapper">

	<sql id="qna-select">
		select	qna_no, 
				qna_refamily,
				qna_restep,
				qna_relevel,
				qna_title, 
				qna_category, 
				to_char(to_date(qna_registration_date, 'yyyymmdd'), 'yyyy-mm-dd') qna_registration_date, 
				qna_hits, 
				qna_content, 
				member_id
		from qna
	</sql>
	
	<resultMap type="QNA" id="qna-resultmap">
		<id column="qna_no" property="number"/>
		<result column="qna_refamily" property="refamily"/>
		<result column="qna_restep" property="restep"/>
		<result column="qna_relevel" property="relevel"/>
		<result column="qna_title" property="title"/>
		<result column="qna_category" property="category"/>
		<result column="qna_registration_date" property="registrationDate"/>
		<result column="qna_hits" property="hits"/>
		<result column="qna_content" property="content"/>
		<result column="member_id" property="memberId"/>
	</resultMap>
	
	<!-- Member 테이블과  join 처리를 할 resultMap -->
	<resultMap type="QNA" id="qna-member-resultmap" extends="qna-resultmap">
		<association property="member" javaType="member" resultMap="member.dao.memberMapper.member-resultmap"/>
	</resultMap>
	
	<!-- 게시물 등록 -->
	<insert id="insertQNA" parameterType="QNA">
		insert into qna (	qna_no, 
								qna_refamily,
								qna_restep,
								qna_relevel,
								qna_title, 
								qna_category, 
								qna_registration_date, 
								qna_hits, 
								qna_content, 
								member_id)
		values (	qna_no_seq.nextval, 
					qna_no_seq.currval, 
					0,
					0,
					#{title}, 
					#{category}, 
					to_char(sysdate, 'yyyymmdd'), 
					0, 
					#{content}, 
					#{memberId})
	</insert>
	
	<!-- 수정 -->
	<update id="addStep" parameterType="QNA">
		update 	qna 
		set 		qna_restep = qna_restep+1 
		where 	qna_refamily = #{refamily} and qna_restep > #{restep}
	</update>
	
	<!-- 답글 등록 -->
	<insert id="insertQNAComment" parameterType="QNA">
		insert into qna (	qna_no,	
								qna_refamily,
								qna_restep,
								qna_relevel,
								qna_title, 
								qna_category, 
								qna_registration_date, 
								qna_hits, 
								qna_content, 
								member_id)
		values (	qna_no_seq.nextval, 
					#{refamily}, 
					#{restep}+1,
					#{relevel}+1,
					#{title}, 
					#{category}, 
					to_char(sysdate, 'yyyymmdd'), 
					0, 
					#{content}, 
					#{memberId})
	</insert>
	
	<!-- 게시물 수정 -->
	<update id="updateQNA" parameterType="QNA">
		update 	qna
		set			qna_title=#{title}, qna_category=#{category}, qna_content=#{content}
		where		qna_no=#{number}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="deleteQNAByNo" parameterType="int">
		delete from qna where qna_no=#{number}
	</delete>
	
	<!-- 전체 정보 조회 -->
	<select id="selectAllQNA" parameterType="map" resultMap="qna-resultmap">
		select qna_no, qna_refamily, qna_restep, qna_relevel, qna_title, qna_category, member_id, qna_registration_date,  qna_hits
		from (
			select ceil(rownum/#{contentsPerPage}) page, qna_no,  qna_refamily, qna_restep, qna_relevel, qna_title, qna_category, member_id, qna_registration_date,  qna_hits
			from (
					<include refid="qna-select"/>
					order by qna_refamily desc, qna_restep asc
			)
		) 
		where page = #{pageNo}
	</select>

	<!-- DB 데이터 총 개수 -->
	<select id="selectTotalQNACount" resultType="_int">
		select count(qna_no) from qna
	</select>
	
	<!-- 번호로 게시물 조회 -->
	<select id="selectQNAByNo" resultMap="qna-resultmap" parameterType="int">
		<include refid="qna-select"/>
		where qna_no=#{number}
	</select>
	
	<!-- 조회수 증가 -->
	<select id="updateHits" parameterType="int">
		update qna
		set qna_hits = qna_hits + 1
		where qna_no=#{number}
	</select>
</mapper>

