<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="restaurantReply.dao.RestaurantReplyMapper">

	<sql id="restaurant_reply">
		select 	restaurant_reply_no,
					to_char(to_date(reg_date, 'yyyymmdd'), 'yyyy-mm-dd') reg_date,
					content,
					score,
					member_id,
					restaurant_no
		from 		restaurant_reply
	</sql>

	<resultMap type="RestaurantReply" id="restaurantReply-resultmap">
		<id column="restaurant_reply_no" property="number" />
		<result column="reg_date" property="regDate" />
		<result column="content" property="content" />
		<result column="score" property="score" />
		<result column="member_id" property="memberId" />
		<result column="restaurant_no" property="restaurantNo" />
		<!-- 등록 -->
	</resultMap>
	<insert id="insertRestaurantReply" parameterType="RestaurantReply">
		insert into
		restaurant_reply (
		restaurant_reply_no,
		reg_date,
		content,
		score,
		member_id,
		restaurant_no)
		values( restaurant_reply_no_seq.nextval,
					to_char(sysdate, 'yyyymmdd'),
					#{content, jdbcType=VARCHAR},
					#{score},
					#{memberId},
					#{restaurantNo})
	</insert>
<!-- 게시물 댓글 개수 +1 -->
	<update id="updateReplyCount" parameterType="_int">
		update restaurant
		set reply_count = reply_count + 1
		where restaurant_no=#{restaurantNo}
	</update>
	
	<!-- 게시물 댓글 개수 -1 -->
<update id="updateReplyCount2" parameterType="_int">
		update restaurant
		set reply_count = reply_count - 1
		where restaurant_no=#{restaurantNo}
	</update>
	
<!-- 수정 -->
	<update id="updateRestaurantReply" parameterType="RestaurantReply">
		update 	restaurant_reply
		set content=#{content}, score=#{score}
		where restaurant_reply_no=#{number} and member_id=#{memberId}

	</update>

	
	<!-- 삭제 -->
	<delete id="deleteRestaurantReply" parameterType="map">
		delete from restaurant_reply 
		where restaurant_reply_no=#{number} and member_id=#{memberId}
	</delete>



	<!-- 조회 -->
	<select id="selectAllRestaurantReply" parameterType="int"
		resultMap="restaurantReply-resultmap">
		<include refid="restaurant_reply" />
		where restaurant_no =#{restaurantNo}
	</select>

	<!-- 평점 -->
	<select id="selectScore" parameterType="int" resultType="int">
		select sum(score)
		from restaurant_reply
		where restaurant_no =#{restNumber}
	</select>
	
<!-- 게시물 댓글 갯수 보여주기 -->
	<select id="selectReplyCount" parameterType="int" resultType="int">
		select reply_count
		from restaurant
		where restaurant_no =#{restNumber}
	</select>
	
<!-- 평점 계산 -->
	<update id="updateScore" parameterType="Map">
		update restaurant
		set score = #{score}
		where restaurant_no =#{restaurantNo}
	</update>

<!--  -->



</mapper>
