<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="restaurant.dao.RestaurantMapper">
	<sql id="restaurant-select">
		select	restaurant_no, restaurant_name, category, phone_no, address, description,
				picture_name, score, hits, theme, reg_date, reply_count, location_no
		from	restaurant
	</sql>
	
	<resultMap type="restaurant" id="restaurant-resultmap">
		<id column="restaurant_no" property="restaurantNo"/>
		<result column="restaurant_name" property="restaurantName"/>
		<result column="category" property="category"/>
		<result column="phone_no" property="phoneNo"/>
		<result column="address" property="address"/>
		<result column="description" property="description"/>
		<result column="picture_name" property="pictureName"/>
		<result column="score" property="score"/>
		<result column="hits" property="hits"/>
		<result column="theme" property="theme"/>
		<result column="reg_date" property="regDate"/>
		<result column="reply_count" property="replyCount"/>
		<result column="location_no" property="locationNo"/>
	</resultMap>
	
	<resultMap type="food" id="food-resultmap">
		<id column="food_no" property="foodNo"/>
		<result column="food_name" property="foodName"/>
		<result column="food_price" property="foodPrice"/>
		<result column="food_description" property="foodDescription"/>
		<result column="restaurant_no" property="restaurantNo"/>
	</resultMap>
	
	<select id="selectAllRestaurantPaging" resultMap="restaurant-resultmap">
		select	restaurant_no, restaurant_name, category, phone_no, address, description,
				picture_name, score, hits, theme, reg_date, reply_count, location_no
		from	(
					select	ceil(rownum/#{contentsPerPage}) page, restaurant_no, restaurant_name, category, phone_no, address,
							description, picture_name, score, hits, theme, reg_date, reply_count, location_no
					from	(
								<include refid="restaurant-select"/>
								order by restaurant_no desc
							)
				)
		where	page = #{currentPage}
	</select>
	
	<select id="selectTotalRestaurantCount" resultType="_int">
		select count(restaurant_no) from restaurant
	</select>
	
	<select id="selectRestaurantByName" parameterType="String" resultMap="restaurant-resultmap">
		<include refid="restaurant-select"/>
		where restaurant_name = #{restaurantName}
	</select>
	
	<select id="selectBuildingNames" resultType="String">
		select distinct building_name from location order by building_name
	</select>
	
	<select id="selectFloorsByBuildingName" parameterType="String" resultType="String">
		select floor from location where building_name=#{buildingName}
	</select>
	
	<select id="selectLocationNo" parameterType="Map" resultType="_int">
		select location_no from location
		where building_name=#{buildingName} and floor=#{floor}
	</select>
	
	<insert id="insertRestaurant" parameterType="restaurant">
		<selectKey keyProperty="restaurantNo" resultType="_int" order="BEFORE">
			select restaurant_no_seq.nextval from dual
		</selectKey>
		insert into restaurant values(#{restaurantNo},#{restaurantName},#{category},#{phoneNo},#{address},#{description},#{pictureName},0,0,#{theme},to_char(sysdate,'yyyymmdd'),0,#{locationNo})
	</insert>
	
	<insert id="insertFood" parameterType="food">
		<selectKey keyProperty="foodNo" resultType="_int" order="BEFORE">
			select food_no_seq.nextval from dual
		</selectKey>
		insert into food values(#{foodNo}, #{foodName}, #{foodPrice}, #{foodDescription}, #{restaurantNo})
	</insert>
	
	<select id="selectRestaurantByNo" parameterType="_int" resultMap="restaurant-resultmap">
		<include refid="restaurant-select"/>
		where restaurant_no=#{restaurantNo}
	</select>
	
	<select id="selectLocationByNo" parameterType="_int" resultType="String">
		select building_name||' '||floor||'층' from location where location_no=#{locationNo}
	</select>
	
	<select id="selectFoodsByRestaurantNo" parameterType="_int" resultMap="food-resultmap">
		select food_no, food_name, food_price, food_description, restaurant_no from food
		where restaurant_no=#{restaurantNo}
	</select>
	
</mapper>
