<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="restaurant.dao.RestaurantMapper">
	<sql id="restaurant-select">
		select	restaurant_no, restaurant_name, category, phone_no, address, description,
				picture_name, score, hits, theme, reg_date, reply_count, location_no
		from	restaurant
	</sql>
	
	<resultMap type="restaurant" id="restaurant-resultmap">
		<id column="restaurant_no" property="restaurantNo"/>
		<result column="restaurant_name" property="restaurantName"/>
		<result column="category" property="category"/>
		<result column="phone_no" property="phoneNo"/>
		<result column="address" property="address"/>
		<result column="description" property="description"/>
		<result column="picture_name" property="pictureName"/>
		<result column="score" property="score"/>
		<result column="hits" property="hits"/>
		<result column="theme" property="theme"/>
		<result column="reg_date" property="regDate"/>
		<result column="reply_count" property="replyCount"/>
		<result column="location_no" property="locationNo"/>
	</resultMap>
	
	<resultMap type="food" id="food-resultmap">
		<id column="food_no" property="foodNo"/>
		<result column="food_name" property="foodName"/>
		<result column="food_price" property="foodPrice"/>
		<result column="food_description" property="foodDescription"/>
		<result column="restaurant_no" property="restaurantNo"/>
	</resultMap>
	
	<select id="selectListByTypePaging" parameterType="Map" resultMap="restaurant-resultmap">
		select	restaurant_no, restaurant_name, category, phone_no, address, description,
				picture_name, score, hits, theme, reg_date, reply_count, location_no
		from	(
					select	ceil(rownum/#{contentsPerPage}) page, restaurant_no, restaurant_name, category, phone_no, address,
							description, picture_name, score, hits, theme, reg_date, reply_count, location_no
					from	(
								<include refid="restaurant-select"/>
								<where>
									<if test="category!='전체'">
										category=#{category}
									</if>
									<if test="searchWord!=null">
										and restaurant_name like '%'||#{searchWord}||'%'
									</if>
								</where>
								<choose>
									<when test="align=='name'">
										order by restaurant_name
									</when>
									<when test="align=='hits'">
										order by hits desc
									</when>
									<when test="align=='manyScore'">
										order by reply_count desc
									</when>
									<when test="align=='highScore'">
										order by score desc
									</when>
									<otherwise>
										order by restaurant_no desc
									</otherwise>
								</choose>
							)
				)
		where	page = #{currentPage}
	</select>
	
	<select id="selectListByThemePaging" parameterType="Map" resultMap="restaurant-resultmap">
		select	restaurant_no, restaurant_name, category, phone_no, address, description,
				picture_name, score, hits, theme, reg_date, reply_count, location_no
		from	(
					select	ceil(rownum/#{contentsPerPage}) page, restaurant_no, restaurant_name, category, phone_no, address,
							description, picture_name, score, hits, theme, reg_date, reply_count, location_no
					from	(
								<include refid="restaurant-select"/>
								<where>
									<if test="theme!='전체'">
										theme like '%'||#{theme}||'%'
									</if>
									<if test="searchWord!=null">
										and restaurant_name like '%'||#{searchWord}||'%'
									</if>
								</where>
								<choose>
									<when test="align=='name'">
										order by restaurant_name
									</when>
									<when test="align=='hits'">
										order by hits desc
									</when>
									<when test="align=='manyScore'">
										order by reply_count desc
									</when>
									<when test="align=='highScore'">
										order by score desc
									</when>
									<otherwise>
										order by restaurant_no desc
									</otherwise>
								</choose>
							)
				)
		where	page = #{currentPage}
	</select>
	
	<select id="selectTotalRestaurantCount" resultType="_int">
		select count(restaurant_no) from restaurant
	</select>
	
	<select id="selectRestaurantByName" parameterType="String" resultMap="restaurant-resultmap">
		<include refid="restaurant-select"/>
		where restaurant_name = #{restaurantName}
	</select>
	
	<select id="selectBuildingNames" resultType="String">
		select distinct building_name from location order by building_name
	</select>
	
	<select id="selectFloorsByBuildingName" parameterType="String" resultType="String">
		select floor from location where building_name=#{buildingName}
	</select>
	
	<select id="selectLocationNo" parameterType="Map" resultType="_int">
		select location_no from location
		where building_name=#{buildingName} and floor=#{floor}
	</select>
	
	<insert id="insertRestaurant" parameterType="restaurant">
		<selectKey keyProperty="restaurantNo" resultType="_int" order="BEFORE">
			select restaurant_no_seq.nextval from dual
		</selectKey>
		insert into restaurant values(#{restaurantNo},#{restaurantName},#{category},#{phoneNo},#{address},#{description},#{pictureName},0,0,#{theme},to_char(sysdate,'yyyymmdd'),0,#{locationNo})
	</insert>
	
	<insert id="insertFood" parameterType="food">
		<selectKey keyProperty="foodNo" resultType="_int" order="BEFORE">
			select food_no_seq.nextval from dual
		</selectKey>
		insert into food values(#{foodNo}, #{foodName}, #{foodPrice}, #{foodDescription}, #{restaurantNo})
	</insert>
	
	<select id="selectRestaurantByNo" parameterType="_int" resultMap="restaurant-resultmap">
		<include refid="restaurant-select"/>
		where restaurant_no=#{restaurantNo}
	</select>
	
	<select id="selectLocationByNo" parameterType="_int" resultType="String">
		select building_name||' '||floor||'층' from location where location_no=#{locationNo}
	</select>
	
	<select id="selectFoodsByRestaurantNo" parameterType="_int" resultMap="food-resultmap">
		select food_no, food_name, food_price, food_description, restaurant_no from food
		where restaurant_no=#{restaurantNo}
	</select>
	
	<update id="updateHits" parameterType="_int">
		update restaurant set hits=hits+1 where restaurant_no=#{restaurantNo}
	</update>
	
	<select id="selectRestaurantsByBuildingNameAndFloor" parameterType="Map" resultMap="restaurant-resultmap">
		select	restaurant_no, restaurant_name, category, phone_no, address, description,
				picture_name, score, hits, theme, reg_date, reply_count, r.location_no
		from	restaurant r, location l
		where	l.building_name=#{buildingName} and l.floor=#{floor} and r.location_no=l.location_no 
	</select>
	
	<select id="selectRestaurantsPaging" parameterType="Map" resultMap="restaurant-resultmap">
		select	restaurant_no, restaurant_name, category, phone_no, address, description,
				picture_name, score, hits, theme, reg_date, reply_count, location_no
		from	(
					select	ceil(rownum/#{contentsPerPage}) page, restaurant_no, restaurant_name, category, phone_no, address,
							description, picture_name, score, hits, theme, reg_date, reply_count, location_no
					from	(
								select	restaurant_no, restaurant_name, category, phone_no, address, description,
										picture_name, score, hits, theme, reg_date, reply_count, r.location_no
								from	restaurant r, location l
								<where>
									r.location_no=l.location_no
									and l.building_name=#{buildingName}
									<if test="floor!='전체'">
										and l.floor=#{floor}
									</if>
									<if test="searchWord!=null">
										and r.restaurant_name like '%'||#{searchWord}||'%'
									</if>
								</where>
								<choose>
									<when test="align=='name'">
										order by restaurant_name
									</when>
									<when test="align=='hits'">
										order by hits desc
									</when>
									<when test="align=='manyScore'">
										order by reply_count desc
									</when>
									<when test="align=='highScore'">
										order by score desc
									</when>
									<otherwise>
										order by restaurant_no desc
									</otherwise>
								</choose>
					)
				)
		where	page=#{currentPage}
	</select>
	
	<select id="selectRestaurantCount" parameterType="Map" resultType="_int">
		select count(restaurant_no)
		from restaurant r, location l
		<where>
			r.location_no=l.location_no
			and l.building_name=#{buildingName}
			<if test="floor!='전체'">
				and l.floor=#{floor}
			</if>
			<if test="searchWord!=null">
				and r.restaurant_name like '%'||#{searchWord}||'%'
			</if>
		</where>
	</select>
	
	<select id="selectRestaurantCountByCategory" parameterType="Map" resultType="_int">
		select count(restaurant_no)
		from restaurant
		<where>
			<if test="category!='전체'">
				category=#{category}
			</if>
			<if test="searchWord!=null">
				and restaurant_name like '%'||#{searchWord}||'%'
			</if>
		</where>
	</select>
	
	<select id="selectRestaurantCountByTheme" parameterType="Map" resultType="_int">
		select count(restaurant_no)
		from restaurant
		<where>
			<if test="theme!='전체'">
				theme like '%'||#{theme}||'%'
			</if>
			<if test="searchWord!=null">
				and restaurant_name like '%'||#{searchWord}||'%'
			</if>
		</where>
	</select>
	
	<delete id="deleteRestaurant" parameterType="_int">
		delete from restaurant where restaurant_no=#{restaurantNo}
	</delete>
	
	<select id="selectBuildingNameByLocationNo" parameterType="_int" resultType="String">
		select building_name from location where location_no=#{locationNo}
	</select>
	
	<select id="selectFloorByLocationNo" parameterType="_int" resultType="String">
		select floor from location where location_no=#{locationNo}
	</select>
	
	<update id="updateRestaurant" parameterType="restaurant">
		update restaurant set restaurant_name=#{restaurantName}, category=#{category}, phone_no=#{phoneNo},
			address=#{address}, description=#{description}, picture_name=#{pictureName}, theme=#{theme}, location_no=#{locationNo}
		where restaurant_no=#{restaurantNo}
	</update>
	
	<delete id="deleteFoods" parameterType="_int">
		delete from food where restaurant_no=#{restaurantNo}
	</delete>
	
</mapper>
