<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review.dao.ReviewReplyMapper">

	<sql id="reviewReply-select">
		select review_reply_no,
				 reg_date,
				 content,
				 member_id,
				 review_no
		from review_reply
	</sql>
	
	<resultMap type="review_reply" id="reviewreply-resultmap">
		<id column="review_reply_no" property="replyNo"/>
		<result column="reg_date" property="regDate"/>
		<result column="content" property="content"/>
		<result column="member_id" property="memberId"/>
		<result column="review_no" property="reviewNo"/>
	</resultMap>
	
	<!-- 댓글 등록 -->
	<insert id="insertReply" parameterType="review_reply">
		insert into review_reply (review_reply_no, reg_date, content, member_id, review_no)
		values (#{replyNo}, to_char(sysdate, 'yyyymmdd'), #{content}, #{memberId}, #{reviewNo})
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateReply" parameterType="review_reply">
		updaet review_reply
		set content=#{content}
		where member_id=#{memberId}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReview" parameterType="review_reply">
		delete from review_reply 		
		where member_id=#{memberId}
	</delete>
</mapper>
